<ul>
    {% set asset = op.data.asset %}
    <li>{{ 'transactions.operations.fields.asset'|trans }}:
        {{ include('token_link.twig', {token: asset}, with_context = false) }}
    </li>
    {% if op.data.limit %}
        <li>{{ 'transactions.operations.fields.limit'|trans }}:
            {% include 'amount.twig' with {value: op.data.limit} only %}
        </li>
    {% endif %}
</ul>
