<ul>
    <li>{{ 'transactions.operations.fields.account'|trans }}:
        {{ include('account_link.twig', {data: op.data.account}, with_context = false) }}
    </li>
    <li>{{ 'transactions.operations.fields.starting_balance'|trans }}: {% include 'amount.twig' with {value: op.data.starting_balance} only %}</li>
</ul>
