{% extends "page.twig" %}

{% block title %}Accounts{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li class="is-active"><a href="/accounts/" aria-current="page">Accounts</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">Accounts</h1>
    <ul>
    {% for account in accounts %}
        <li>{{ include('account_link.twig', {id: account.id, name: account.display_name}, with_context = false) }}</li>
    {% endfor %}
    </ul>
{% endblock %}

