{% extends "page.twig" %}

{% block title %}Result — Editor{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li><a href="/editor/" aria-current="page">Editor</a></li>
    <li><a href="/editor/{{ account.id }}" aria-current="page">{{ account.short_id }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Result</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">Result</h1>
    <p class="block">
        Держи транзакцию. В редактор можно будет возвращаться минут через 15 после её подписания и отправки в блокчейн:
    </p>

    <textarea class="textarea">{{ xdr }}</textarea>

{% endblock %}

