{% extends "page.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1 class="title">{{ 'common.full_name'|trans }}</h1>
    <p class="block">
        <a href="/accounts/">{{ 'index_page.accounts'|trans({'%count%': accounts_count}) }}</a>
    </p>
    <p class="block">
        <a href="/tags/">{{ 'index_page.tags'|trans }}</a>
    </p>
    <p class="block">
        <a href="/mtla/council">{{ 'index_page.mtla_council'|trans }}</a>
    </p>
    <p class="block">
        For the legacy HTML page: <a href="https://bsn.mtla.me/html">/json</a>.
    </p>
    <p class="block">
        If you are looking RAW JSON data: <a href="https://bsn.mtla.me/json">/json</a>.<br>
        An organized list of well-known tags <a href="/known_tags.json">/known_tags.json</a> (<a href="/schemas/known_tags_schema.json">schema</a>)
    </p>
{% endblock %}
