{% extends "page.twig" %}

{% block title %}MTLA{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li class="is-active"><a href="#" aria-current="page">MTLA</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">MTLA</h1>
    <p class="block">
        <a href="/mtla/council">Council</a>
    </p>
{% endblock %}

